
*.pbxproj
*.xcworkspacedata
*.xcuserstate
*.xcsettings
App/App.xcodeproj/xcuserdata/simon.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcscheme
Tuist/Package.resolved
Tuist/.swiftpm/xcode/xcuserdata/simon.xcuserdatad/xcschemes/xcschememanagement.plist
App.xcworkspace/xcuserdata/simon.xcuserdatad/xcschemes/xcschememanagement.plist
App.xcodeproj/xcuserdata/simon.xcuserdatad/xcschemes/xcschememanagement.plist
App.xcworkspace/.tuist-generated
App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
App/Derived/InfoPlists/App-Info.plist
Derived/InfoPlists/firebaseInAppMessage-issue-Info.plist
TuistPlayground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
TuistPlayground.xcworkspace/xcuserdata/simon.xcuserdatad/xcschemes/xcschememanagement.plist
TuistPlayground.xcworkspace/.tuist-generated
